<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|关于医小护</title>
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <link rel="stylesheet" href="../public/css/aboutUs.css"/>
</head>
<body>
<div class="wrap">
    <!-- header start -->
    <div class="headerWrap">
        <header>
            <div class="logo">
                <i></i>
            </div>
            <div class="navWrap">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="doctorShangMen.html">医生上门</a></li>
                    <li><a href="doctorPeiZhen.html">医护陪诊</a></li>
                    <li><a href="cityService.html">企业服务</a></li>
                    <li><a href="#">在线下单</a></li>
                    <li><a href="aboutUs.html">关于医小护</a></li>
                    <li><a href="joinUs.html">加入我们</a></li>
                </ul>
            </div>
            <div class="loginWrap">
                <a href="#">会员登录</a>
                <span>或</span>
                <a href="#">立即注册</a>
            </div>
        </header>
    </div>
    <!-- header end -->
    
    <!-- content start -->
    <div class="content">
        <div class="sec1">
            <div class="sec1_title">首页 > 关于我们</div>
            <div class="sec1_content clearFix">
                <div class="sec1_left">
                    <ul>
                        <li class="active">关于我们</li>
                        <li>联系我们</li>
                        <li>意见反馈</li>
                        <li>招贤纳士</li>
                    </ul>
                </div>
                <div class="sec1_right">
                    <div class="sec1_right_title">关于我们</div>
                    <div class="sec1_right_content">
                            医小护——医护陪诊、上门看病第一平台！<br/>
                            作为北京康知天下科技有限公司推出的一个基于移动互联网的O2O医疗服务产品，通过提供排队<br/>
                            挂号取号、诊前提醒、专车接送、就诊陪护、上门看病、预约检查、取送报告、诊后关爱等陪诊<br/>
                            服务，改善患者及家属就医体验，缓解当下“看病难”这一社会问题，让看病方便而高效。<br/><br/>

                            同时，医小护作为护士服务点评的第一平台！在平台上，医生、护士可以利用工作闲暇时间为患<br/>
                            者做陪诊服务，不仅拓宽医护人员与患者的交流渠道、执业渠道，还可因服务与更多患者增加收<br/>
                            入。对患者以及家属而言，请医护人员陪诊可减少因对医院环境、运行不熟悉而产生的麻烦，还<br/>
                            可避免因对医学专业知识了解不足所带来的困扰，实现患者与医护陪诊者双方的双赢局面，同时<br/>
                            陪护人员均具有执业医师、护士资格证书以及多年从业经验。未来，医小护平台的陪护服务好评<br/>
                            率将成为其业内的知名度与单位评价参照指标之一。<br/><br/>

                            时下，我国已正式进入老龄化社会。医小护希望成为这一社会环境下的福音慈报，帮助老人以及<br/>
                            一切需要帮助的患者，让他们在看病遇到困难时有人关心、陪护，在就医过程中感受亲情般的温<br/>
                            暖，做到老有所依（医）。在社会老龄化程度渐深之即，看病陪护问题也越来越成为困扰中青年<br/>
                            群体的一个社会问题，医小护代为生活打拼的年轻人尽一份孝心，让含辛茹苦养育孩子的父母们<br/>
                            看病真正不再困难。<br/><br/>

                            我们的服务:<br/>
                            我们是患者的腿<br/>
                            从进入医院的那一刻起，我们为患者排队取号、送化验标本、取化验报告、安排B超CT、到药房<br/>
                            拿药，免去患者的奔波劳累。<br/><br/>

                            我们是患者的嘴<br/>
                            我什么时候再来复查？我这个药该怎么吃？我这个化验结果有什么问题吗？进了医院，总是有<br/>
                            各种问题要问医生，而医生却总是那么忙碌，没关系，我们懂的，会给患者最专业的回答，不<br/>
                            懂的，我们会替你咨询医生、药师、检验师。<br/><br/>

                            我们是患者的眼<br/>
                            入院后，病情有没有变化？中西药，发的药有没有遗漏？做检查，是不是忘记哪一项？这些，<br/>
                            不用患者劳心，我们会替你看到。<br/><br/>

                            我们的承诺：<br/><br/>

                            谨以至诚，忠于所托<br/>
                            尽全力提高陪护标准；<br/>
                            谨守患者病情及秘密；<br/>
                            竭诚协助诊治之方便；<br/>
                            全心为患者谋取福利。<br/>
                            安心一点、舒适一些<br/>
                            这是每一位患者的需求，<br/>
                            也是医小护的不懈追求……<br/><br/>

                            我们的理念：<br/><br/>

                            对护士：提升职业尊严，提高职业价值，拓宽职业平台<br/>
                            对用户：关怀备至、温馨体贴、亲如家人<br/>
                            对员工：相互信任、相互成就、分享成长<br/><br/>

                            我们的愿景：<br/><br/>

                            老有所依、老有所医，看病不再难
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footerWrap">
                <div class="footer_box">
                    <p class="footer_box_title">关于我们</p>

                    <p>公司介绍</p>

                    <p>加入我们</p>

                    <p>联系我们</p>

                    <p>黄金优势</p>
                </div>
                <div class="footer_box">
                    <p class="footer_box_title">健康导航</p>

                    <p>医生上门</p>

                    <p>医护陪诊</p>

                </div>
                <div class="footer_box">
                    <p class="footer_box_title">友情链接</p>

                    <p>多宠乐购</p>

                    <p>康知网</p>

                    <p>爱晒网</p>

                    <p>趣婚</p>

                </div>
                <div class="footer_box">
                    <p class="footer_box_title">关注我们</p>

                    <p>腾讯微博</p>

                    <p>新浪微博</p>

                </div>
                <div class="footer_box">
                    <div>400-114-5120</div>
                    <div>周一至周日 8:00-18:00</div>
                    <div>（仅收市话费）</div>
                    <div>24小时在线客服</div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright_top">
                    <span>医小护合作网站：</span>
                    <a href="https://www.baidu.com/">百度</a>
                    <a href="https://tieba.baidu.com/index.html">百度贴吧</a>
                    <a href="http://www.kangzhi.com/">康知网</a>
                    <a href="#">康贝妈妈</a>
                    <a href="http://tieba.baidu.com/f?kw=%B8%BE%D3%A4&fr=ala0&tpl=5">妇婴吧</a>
                    <a href="http://tieba.baidu.com/f?kw=%BB%B3%D4%D0&fr=ala0&tpl=5">怀孕吧</a>
                </div>
                <div class="copyright_bottom">&copy;2015 北京康知天下科技有限公司&nbsp;&nbsp; &nbsp;&nbsp; 京ICP备11032486号</div>
            </div>
        </div>
        <!-- footer end -->
    </div>
</body>
</html>