<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|企业服务</title>
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <link rel="stylesheet" href="../public/css/cityService.css"/>
</head>
<body>
<div class="wrap">
    <!-- header start -->
    <div class="headerWrap">
        <header>
            <div class="logo">
                <i></i>
            </div>
            <div class="navWrap">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="doctorShangMen.html">医生上门</a></li>
                    <li><a href="doctorPeiZhen.html">医护陪诊</a></li>
                    <li><a href="cityService.html">企业服务</a></li>
                    <li><a href="#">在线下单</a></li>
                    <li><a href="aboutUs.html">关于医小护</a></li>
                    <li><a href="joinUs.html">加入我们</a></li>
                </ul>
            </div>
            <div class="loginWrap">
                <a href="#">会员登录</a>
                <span>或</span>
                <a href="#">立即注册</a>
            </div>
        </header>
    </div>
    <!-- header end -->
    <!-- banner start -->
    <div class="banner">
        <div class="banner_word_top">企业服务</div>
        <div class="banner_word_middle">医小护为每一家签约企业提供专属的健康管理服务</div>
    </div>
    <!-- banner end -->
    <!-- content start -->
    <div class="content">
        <div class="sec1">
            <div class="sec1_title">
                无微不至
            </div>
            <div class="sec1_word">
                让就医更方便、廉价，就像是学校里的医务室，却远比之专业 <br/>
                不再为员工的健康烦恼，彻底提高企业的运转效率。
            </div>
        </div>
        <div class="sec2">
            <div class="sec2_wrap">
                <div class="sec2_left">
                    <div class="box">
                        <div class="box_title">
                            <i class="pc_icons circleIcon">1</i>
                            <span>预约方便，医生上门</span>
                        </div>
                        <div class="box_word">
                            通过医小护的官方微信和预约热线，您的员工可以随时
                            随地预约我们的医生上门和医护陪诊服务，2个小时之
                            内上门，呵护您的员工健康。
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_title">
                            <i class="pc_icons circleIcon">2</i>
                            <span>健康管家</span>
                        </div>
                        <div class="box_word">
                            我们为每一家企业建立专属的云端健康数据库
                            解放HR部门，随时随地呵护您的员工健康
                            更有免费的上门健康教育、疫苗接种服务
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_title">
                            <i class="pc_icons circleIcon">3</i>
                            <span>绿色就医</span>
                        </div>
                        <div class="box_word">
                            无论您的员工何时生病，只需要一个简单的预约，
                            无需排队，当天即可见到康知专业的医生专家
                            整个就医过程，从未拥有过的愉快、轻松
                        </div>
                    </div>
                    <div class="box">
                        <div class="box_title">
                            <i class="pc_icons circleIcon">4</i>
                            <span>健康福利</span>
                        </div>
                        <div class="box_word">
                            拥有医小护，让您的企业即刻拥有和大公司一样的健
                            康服务，每名员工每月仅需50元，即可享受每年2次
                            的免费医生上门服务和每年1次的免费上门体检。
                        </div>
                    </div>

                </div>
                <div class="sec2_right">
                    <i></i>
                </div>
            </div>
        </div>
        <div class="sec3">
            <div class="sec3_top">为什么选医小护</div>
            <div class="sec3_middle">
                <p>让就医更方便、廉价，就像是学校里的医务室，却远比之专业</p>
                <p>不再为员工的健康烦恼，彻底提高企业的运转效率。</p>
            </div>
            <div class="sec3_bottom">
                <div class="box">
                    <div class="box_img1 img"></div>
                    <div class="box_title">专业医生团队</div>
                    <div class="box_word">医小护的医生从业多年 <br/>诊疗专业且经验丰富</div>
                    <div class="box_button">立即预约 ></div>
                    <div class="box_line"></div>
                </div>
                <div class="box">
                    <div class="box_img2 img"></div>
                    <div class="box_title">70%的员工使用率</div>
                    <div class="box_word">sherpaa的实践表明<br/>
                        70%的员工会使用康知服务</div>
                    <div class="box_button">立即预约 ></div>
                    <div class="box_line"></div>
                </div>
                <div class="box">
                    <div class="box_img3 img"></div>
                    <div class="box_title">节省就医时间</div>
                    <div class="box_word">方便高效的就医 <br/>
                        流程能有效减少因为疾病产生的时间浪费</div>
                    <div class="box_button">立即预约 ></div>
                    <div class="box_line"></div>
                </div>
            </div>
        </div>
        <div class="sec4">
           <div class="sec4_top">医小护诞生于科技年代</div>
           <div class="sec4_middle">我们诚挚邀请 同样敢于创新的企业成为我们的首批预签约客户
               <br/>这是一次医疗行业的革命性创新</div>
           <div class="sec4_bottom">
               <div class="sec4_bottom_top">不论您的企业有</div>
               <div class="sec4_bottom_middle">
                   <span>10人</span>
                   <span>50人</span>
                   <span>100人+</span>
               </div>
               <div class="sec4_bottom_bottom">我们都为此付出同样专业高效的服务</div>
           </div>
        </div>
        <div class="sec5">
            <div class="sec5_top">
                医小护，医生上门和医护陪诊第一平台
            </div>
            <div class="sec5_middle">
                <p>如果您需要预约医护陪诊，请马上和我们联系</p>

                <p>医小护官方微信：<span>yixiaohu120</span></p>
            </div>
            <div class="sec5_bottom">
                <i></i>
            </div>
        </div>
    </div>
    <!-- content end -->
    <!-- footer start -->
    <div class="bottom_banner">
        <div class="bottom_banner_top">您也可以直接拨打医小护的就医预约专线</div>
        <div class="bottom_banner_middle">400-114-5120</div>
        <div class="bottom_banner_bottom">7X24小时服务</div>
        <div class="bottom_banner_button">在线客服</div>
    </div>
    <div class="footer">
        <div class="footerWrap">
            <div class="footer_box">
                <p class="footer_box_title">关于我们</p>

                <p>公司介绍</p>

                <p>加入我们</p>

                <p>联系我们</p>

                <p>黄金优势</p>
            </div>
            <div class="footer_box">
                <p class="footer_box_title">健康导航</p>

                <p>医生上门</p>

                <p>医护陪诊</p>

            </div>
            <div class="footer_box">
                <p class="footer_box_title">友情链接</p>

                <p>多宠乐购</p>

                <p>康知网</p>

                <p>爱晒网</p>

                <p>趣婚</p>

            </div>
            <div class="footer_box">
                <p class="footer_box_title">关注我们</p>

                <p>腾讯微博</p>

                <p>新浪微博</p>

            </div>
            <div class="footer_box">
                <div>400-114-5120</div>
                <div>周一至周日 8:00-18:00</div>
                <div>（仅收市话费）</div>
                <div>24小时在线客服</div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright_top">
                <span>医小护合作网站：</span>
                <a href="https://www.baidu.com/">百度</a>
                <a href="https://tieba.baidu.com/index.html">百度贴吧</a>
                <a href="http://www.kangzhi.com/">康知网</a>
                <a href="#">康贝妈妈</a>
                <a href="http://tieba.baidu.com/f?kw=%B8%BE%D3%A4&fr=ala0&tpl=5">妇婴吧</a>
                <a href="http://tieba.baidu.com/f?kw=%BB%B3%D4%D0&fr=ala0&tpl=5">怀孕吧</a>
            </div>
            <div class="copyright_bottom">&copy;2015 北京康知天下科技有限公司&nbsp;&nbsp; &nbsp;&nbsp; 京ICP备11032486号</div>
        </div>
    </div>
    <!-- footer end -->
</div>
</body>
</html>