<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|加入我们</title>
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <link rel="stylesheet" href="../public/css/joinUs.css"/>
</head>
<body>
<div class="wrap">
    <!-- header start -->
    <div class="headerWrap">
        <header>
            <div class="logo">
                <i></i>
            </div>
            <div class="navWrap">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="doctorShangMen.html">医生上门</a></li>
                    <li><a href="doctorPeiZhen.html">医护陪诊</a></li>
                    <li><a href="cityService.html">企业服务</a></li>
                    <li><a href="#">在线下单</a></li>
                    <li><a href="aboutUs.html">关于医小护</a></li>
                    <li><a href="joinUs.html">加入我们</a></li>
                </ul>
            </div>
            <div class="loginWrap">
                <a href="#">会员登录</a>
                <span>或</span>
                <a href="#">立即注册</a>
            </div>
        </header>
    </div>
    <!-- header end -->
    <!-- banner start -->
    <div class="banner">
        <div class="banner_word_top">加入我们</div>
        <div class="banner_word_middle">诚挚邀请您加入医小护</div>
    </div>
    <!-- banner end -->
    <!-- content start -->
    <div class="content">
        <div class="sec1">
            <div class="sec1_title">
                让我们一起改变世界
            </div>
            <div class="sec1_word">
                医小护从诞生起，就相信科技的力量终将改变医疗。我们热爱创新，希望创建一个这样的医疗服务：它更加专业、前沿、简单，能让人们看病不需要等待而且享受云端无处不在的健康管理。而为了实现这个理想，我们需要您的加入！
            </div>
        </div>
        <div class="sec2">
            <div class="sec2_top">
                <button>我是医生</button>
                <button>我是护士</button>
                <div class="sec2_top_word">
                    声明：您所填写的信息e陪诊公司会严格保密，只用于报名审核使用，不会对外泄密
                </div>
            </div>
            <div class="sec2_middle">
                <div class="sec2_middle_title">
                    填写个人信息
                </div>
                <div class="sec2_middle_content">
                    <form action="">
                        <div class="form_group">
                            <span id="s1"></span>
                            <label for="userName" class="form_left">姓名：</label>
                            <input type="text" id="userName" class="form_right">
                        </div>
                        <div class="form_group">
                            <span id="s2"></span>
                            <label class="form_left">性别：</label>
                            <input type="radio" value="boy" name="sex">男
                            <input type="radio" value="girl" name="sex">女
                        </div>
                        <div class="form_group">
                            <span id="s3"></span>
                            <label  class="form_left">身份证号：</label>
                            <input type="text"  class="form_right">
                        </div>
                        <div class="form_group">
                            <span id="s4"></span>
                            <label  class="form_left">学历：</label>
                            <select class="form_right2" style="color: #878787;">
                                <option value="">请选择</option>
                                <option value="">博士</option>
                                <option value="">研究生</option>
                                <option value="">本科</option>
                                <option value="">专科</option>
                                <option value="">高中</option>
                            </select>
                        </div>
                        <div class="form_group">
                            <span id="s5"></span>
                            <label  class="form_left">电话：</label>
                            <input type="text"  class="form_right">
                        </div>
                        <div class="form_group">
                            <span id="s6"></span>
                            <label  class="form_left">工作地点：</label>
                            <select class="form_right2" style="color: #878787;">
                                <option value="">请选择</option>
                            </select>
                            <select class="form_right2" style="color: #878787;">
                                <option value="">请选择</option>
                            </select>
                            <select class="form_right2" style="color: #878787;">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <div class="form_group">
                            <span id="s7"></span>
                            <label  class="form_left">毕业院校：</label>
                            <input type="text"  class="form_right">
                        </div>
                        <div class="form_group">
                            <span id="s8"></span>
                            <label  class="form_left">微信号：</label>
                            <input type="text"  class="form_right">
                        </div>


                    </form>
                </div>
                <div class="sec2_middle_title">
                    合作相关信息
                </div>
                <div class="sec2_middle_content">
                    <form action="">
                        <div class="form_group">
                            <label  class="form_left">护士职业照：</label>
                            <input type="text" class="form_right">
                        </div>

                        <div class="form_group">
                            <label  class="form_left">护士级别：</label>
                            <select class="form_right2" style="color: #878787;">
                                <option value="">请选择</option>
                                <option value="">博士</option>
                                <option value="">研究生</option>
                                <option value="">本科</option>
                                <option value="">专科</option>
                                <option value="">高中</option>
                            </select>
                        </div>
                        <div class="form_group">
                            <label  class="form_left">护龄：</label>
                            <input type="text"  class="form_right">
                        </div>
                        <div class="form_group">
                            <label  class="form_left">紧急联系人：</label>
                            <input type="text"  class="form_right">
                        </div>
                        <div class="form_group">
                            <label  class="form_left">联系人电话：</label>
                            <input type="text"  class="form_right">
                        </div>
                        <div class="form_group">
                            <label  class="form_left">工作经历：</label>
                            <textarea  class="form_right3">
                            </textarea>
                        </div>
                        <div class="form_group">
                            <label  class="form_left">医院熟知情况：</label>
                            <textarea  class="form_right3">
                            </textarea>
                        </div>
                        <div class="form_group">
                            <label  class="form_left">兴趣及特长：</label>
                            <textarea  class="form_right3">
                            </textarea>
                        </div>
                        <div class="form_group choose">
                            <input type="checkbox"/>
                            阅读并同意<span>《医疗陪护人员免责声明》</span>
                        </div>
                        <div class="form_group form_detail">
                            <div>1、以上填写的属实，提供的证件真实有效，一旦发现有不属实的地方，愿接收医小护任何处理方式，包括解除合作</div>
                            <div>2、确认与公司的合作处于自愿，接受服务信息，获得合作利益的同时依法履行合作的义务</div>
                        </div>
                        <div class="form_submit">
                            <button>提交报名表</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sec3">
            <div class="sec3_top">
                医小护，医生上门和医护陪诊第一平台
            </div>
            <div class="sec3_middle">
                <p>如果您需要预约医护陪诊，请马上和我们联系</p>

                <p>医小护官方微信：<span>yixiaohu120</span></p>
            </div>
            <div class="sec3_bottom">
                <i></i>
            </div>
        </div>
    </div>
    <!-- content end -->
    <!-- footer start -->
    <div class="bottom_banner">
        <div class="bottom_banner_top">您也可以直接拨打医小护的就医预约专线</div>
        <div class="bottom_banner_middle">400-114-5120</div>
        <div class="bottom_banner_bottom">7X24小时服务</div>
        <div class="bottom_banner_button">在线客服</div>
    </div>
    <div class="footer">
        <div class="footerWrap">
            <div class="footer_box">
                <p class="footer_box_title">关于我们</p>

                <p>公司介绍</p>

                <p>加入我们</p>

                <p>联系我们</p>

                <p>黄金优势</p>
            </div>
            <div class="footer_box">
                <p class="footer_box_title">健康导航</p>

                <p>医生上门</p>

                <p>医护陪诊</p>

            </div>
            <div class="footer_box">
                <p class="footer_box_title">友情链接</p>

                <p>多宠乐购</p>

                <p>康知网</p>

                <p>爱晒网</p>

                <p>趣婚</p>

            </div>
            <div class="footer_box">
                <p class="footer_box_title">关注我们</p>

                <p>腾讯微博</p>

                <p>新浪微博</p>

            </div>
            <div class="footer_box">
                <div>400-114-5120</div>
                <div>周一至周日 8:00-18:00</div>
                <div>（仅收市话费）</div>
                <div>24小时在线客服</div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright_top">
                <span>医小护合作网站：</span>
                <a href="https://www.baidu.com/">百度</a>
                <a href="https://tieba.baidu.com/index.html">百度贴吧</a>
                <a href="http://www.kangzhi.com/">康知网</a>
                <a href="#">康贝妈妈</a>
                <a href="http://tieba.baidu.com/f?kw=%B8%BE%D3%A4&fr=ala0&tpl=5">妇婴吧</a>
                <a href="http://tieba.baidu.com/f?kw=%BB%B3%D4%D0&fr=ala0&tpl=5">怀孕吧</a>
            </div>
            <div class="copyright_bottom">&copy;2015 北京康知天下科技有限公司&nbsp;&nbsp; &nbsp;&nbsp; 京ICP备11032486号</div>
        </div>
    </div>
    <!-- footer end -->
</div>
</body>
</html>