<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|医生列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/blueMain.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap">
<!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="#">返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>医小护</span>
            </div>
            <div class="headBox-right">
                <span>北京</span>
                <i class="doctorListIcon1 blueIcon"></i>
            </div>
        </div>
    </header>

    <!--头部模块 结束-->
    <!-- sec1 模块开始-->
    <div class="sec1">
        <div class="sec1-banner">
            <div class="banner-img"></div>
            <div class="banner-btn">
                <span></span>
                <span class="on"></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- sec1 模块结束-->
    <!-- sec2 模块开始-->
    <div class="sec2">
        <div class="sec2-wrap">
           <div><a href="#" class="aSelect">医生</a></div>
           <div><a href="#">护士</a></div>
        </div>
    </div>
    <!-- sec2 模块结束-->
    <!-- sec3 模块开始-->
    <div class="sec3">
        <div class="sec-wrap">
            <div class="sec-left">
                <i class="doctorListIcon2 blueIcon"></i>
            </div>
            <div class="sec-middle">
                <div>
                    <span class="s1"><a href="doctorDetail.html">王家璧</a></span>
                    <span class="s2">皮肤科  主任医师</span>
                </div>
                <div>
                    <span class="s2">北京京城皮肤病医院  朝阳区</span>
                </div>
                <div>
                    <i class="doctorListIcon3 blueIcon"></i>
                </div>
            </div>
            <div class="sec-right">
                <span class="s3">30元/次</span>
            </div>
        </div>
    </div>

    <div class="sec3">
        <div class="sec-wrap">
            <div class="sec-left">
                <i class="doctorListIcon4 blueIcon"></i>
            </div>
            <div class="sec-middle">
                <div>
                    <span class="s1"><a href="doctorDetail.html">王家璧</a></span>
                    <span class="s2">皮肤科  主任医师</span>
                </div>
                <div>
                    <span class="s2">北京京城皮肤病医院  朝阳区</span>
                </div>
                <div>
                    <i class="doctorListIcon3 blueIcon"></i>
                </div>
            </div>
            <div class="sec-right">
                <span class="s3">30元/次</span>
            </div>
        </div>
    </div>
    <!-- sec3 模块结束-->
    <!-- nav 模块开始-->
    <div class="nav-wrap">
        <ul class="clearFix">
            <li class="nav-box">
                <div class="doctorListIcon5 blueIcon"></div>
                <div class="nav-word">首页</div>
            </li>
            <li class="nav-box">
                <div class="doctorListIcon6 blueIcon"></div>
                <div class="nav-word"><a href="orderItemList.html">订单</a></div>
            </li>
            <li class="nav-box">
                <div class="doctorListIcon7 blueIcon"></div>
                <div class="nav-word"><a href="#">我的</a></div>
            </li>
        </ul>
    </div>

    <!-- nav 模块结束-->

</div>
</body>
</html>