<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|医护陪诊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/pinkMain.css"/>
    <link rel="stylesheet" href="../public/css/doctorPeiZhenItem.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap">
    <!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="doctorList.html">&lt;返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>医护陪诊</span>
            </div>
            <div class="headBox-right"></div>
        </div> </header>

    <!--头部模块 结束-->
    <!-- sec2 模块开始-->
    <div class="section2">
        <div class="section2-wrap">
           <div class="section2-top1">
           </div>
            <div class="section2-bottom">
                <div class="section2-left">
                    <p>上门看病</p>
                    <p>适用于非危重症，不方便出门看病的用户</p>
                </div>
                <div class="section2-right">
                    <span>￥198元</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="section2-wrap">
            <div class="section2-top2">
            </div>
            <div class="section2-bottom">
                <div class="section2-left">
                    <p>基础陪诊</p>
                    <p>适适用于已经挂号，需要就医陪护的用户</p>
                </div>
                <div class="section2-right">
                    <span>￥198元</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="section2-wrap">
            <div class="section2-top3">
            </div>
            <div class="section2-bottom">
                <div class="section2-left">
                    <p>上门美容</p>
                    <p>适用于长期对着电脑的上班女性，缓解多种皮肤症状</p>
                </div>
                <div class="section2-right">
                    <span>￥198元</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="section2-wrap">
            <div class="section2-top4">
            </div>
            <div class="section2-bottom">
                <div class="section2-left">
                    <p>便捷就医</p>
                    <p>委托护士代挂/取号，病人分时就诊，节省时间</p>
                </div>
                <div class="section2-right">
                    <span>￥298元</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="section2-wrap">
            <div class="section2-top5">
            </div>
            <div class="section2-bottom">
                <div class="section2-left">
                    <p>专车就医套餐</p>
                    <p>专车上门接送患者，一般性疾病均适用</p>
                </div>
                <div class="section2-right">
                    <span>￥398元</span>
                </div>
            </div>
        </div>
    </div>

    <!-- sec2 模块结束-->
    <!-- nav 模块开始-->
    <div class="nav-wrap">
        <ul class="clearFix">
            <li class="nav-box">
                <div class="nav-img1 pinkIcon"></div>
                <div class="nav-word">首页</div>
            </li>
            <li class="nav-box">
                <div class="nav-img2 pinkIcon"></div>
                <div class="nav-word"><a href="#">订单</a></div>
            </li>
            <li class="nav-box">
                <div class="nav-img3 pinkIcon"></div>
                <div class="nav-word"><a href="#">我的</a></div>
            </li>
        </ul>
    </div>

    <!-- nav 模块结束-->



</div>

</body>
</html>