<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|医生详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/blueMain.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap">
    <!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="doctorList.html">返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>医小护</span>
            </div>
            <div class="headBox-right">
                <span>北京</span>
                <i class="doctorListIcon1 blueIcon"></i>
            </div>
        </div>
    </header>

    <!--头部模块 结束-->
    <!-- sec1 模块开始-->
    <div class="sec11">
        <div class="sec-wrap">
            <div class="sec-left">
                <i class="doctorListIcon2 blueIcon"></i>
            </div>
            <div class="sec-middle"> <div>
                    <span class="s1">王家璧</span>
                    <span class="s2">皮肤科  主任医师</span>
                </div>
                <div>
                    <span class="s2">北京京城皮肤病医院  朝阳区</span>
                </div>
                <div>
                    <i class="doctorListIcon8 blueIcon"></i>
                    <span class="s2">0条评价</span>
                </div>
            </div>
            <div class="sec-right">
                <span class="s3">30元/次</span>
                <span class="s4">接单200</span>
            </div>
        </div>
    </div>
    <!-- sec1 模块结束-->
    <!-- sec2 模块开始-->
    <div class="sec22">
        <div>专业 5</div>
        <div>沟通 5</div>
        <div>守时 5</div>
    </div>
    <!-- sec22 模块结束-->
    <!-- sec33 模块开始-->
    <div class="sec33">
        <div><span>评论</span></div>
        <div><span>介绍</span></div>
    </div>
    <!-- sec33 模块结束-->
    <!-- sec44 模块开始-->
    <div class="sec44">
        <div>
            <span>自我介绍</span>
        </div>
        <div>
            <span>陈贤楠，男，北京儿童医院，教授，主任医师，特级专家，擅长肺炎、肠炎、重症/急性感染、过敏性肠病、反复...</span>
        </div>
    </div>
    <!-- sec44 模块结束-->
    <!-- sec55 模块结束-->
    <div class="sec55">
        <div><span>我的位置</span></div>
        <div></div>
    </div>
    <!-- sec55 模块结束-->
    <!-- sec66 模块开始-->
    <div class="sec66">
        <div>
            <span>服务项目</span>
        </div>
        <div>
            <p><span>皮肤病</span></p>
            <p><span>感冒</span></p>
            <p><span>美容</span></p>
            <p><span>面膜</span></p>
            <p><span>激光</span></p>
        </div>
    </div>
    <!-- sec66 模块结束-->
    <!-- sec77 模块开始-->
    <div class="sec77">
        <div>
            <span>认证情况</span>
        </div>
        <div>
            <p>
                <i class="doctorListIcon9 blueIcon"></i>
                <span>已通过医小护实名认证</span>
            </p>
            <p>
                <i class="doctorListIcon9 blueIcon"></i>
                <span>已签约医小护服务协议</span>
            </p>
            <p>
                <i class="doctorListIcon9 blueIcon"></i>
                <span>已通过医小护医师资格证书考核</span>
            </p>
            <p>
                <i class="doctorListIcon9 blueIcon"></i>
                <span>已通过医小护医院注册认证考核</span>
            </p>
        </div>
    </div>
    <!-- sec77 模块结束-->
    <!-- sec88 模块开始-->
    <div class="sec88">
        <div>
            <span>响应能力</span>
        </div>
        <div>
            <p>
                <i class="doctorListIcon9 blueIcon"></i>
                <span>1小时内回应</span>
            </p>
            <p>
                <i class="doctorListIcon9 blueIcon"></i>
                <span>100%接单率</span>
            </p>
            <p>
                <i class="doctorListIcon9 blueIcon"></i>
                <span>上次接单时间：2015.1.7</span>
            </p>
        </div>
    </div>
    <!-- sec88 模块结束-->
    <!-- sec99 模块开始-->
    <div class="sec99">
        <div class="sec99-wrap">
            <button>咨询</button>
            <button>预约</button>
        </div>

    </div>
    <!-- sec99 模块结束-->














    <!-- nav 模块开始-->


    <!-- nav 模块结束-->

</div>
</body>
</html>