<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|订单查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/pinkMain.css"/>
    <link rel="stylesheet" href="../public/css/orderItem.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap bigBox">
    <!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="doctorList.html">&lt;返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>医小护订单</span>
            </div>
            <div class="headBox-right">
            </div>
        </div>
    </header>

    <!--头部模块 结束-->
    <!-- module1 模块开始-->
    <div class="module1">
        <div class="module1-wrap">
            <div class="aSelect"><a href="#">进行中</a></div>
            <div><a href="#">已完成</a></div>
            <div><a href="#">取消</a></div>
        </div>
    </div>
    <!-- module1 模块结束-->
    <!-- module2 模块开始-->
    <div class="module2">
        <div class="module2-wrap">
            <div class="module2-top">
                <span>2015-06-10 14:55:21</span>
                <span>派单中</span>
            </div>
            <div class="module2-middle">
                <div><i class="module2-icon1 pinkIcon"></i></div>
                <div>
                    <p>服务套餐：<span> 基础陪诊套餐</span></p>
                    <p>医护专员：<span> 未派单</span></p>
                    <p>服务日期：<span> 2015-16-14上午</span></p>
                </div>
            </div>
            <div class="module2-bottom">
                <span>￥198</span>
                <button>取消订单</button>
            </div>
        </div>
    </div>
    <div class="module2">
        <div class="module2-wrap">
            <div class="module2-top">
                <span>2015-06-10 14:55:21</span>
                <span>派单中</span>
            </div>
            <div class="module2-middle">
                <div><i class="module2-icon2 pinkIcon"></i></div>
                <div>
                    <p>服务套餐：<span> 基础陪诊套餐</span></p>
                    <p>医护专员：<span> 未派单</span></p>
                    <p>服务日期：<span> 2015-16-14上午</span></p>
                </div>
            </div>
            <div class="module2-bottom">
                <span>￥198</span>
            </div>
        </div>
    </div>
    <!-- module2 模块结束-->


    <!-- 模态框 开始 -->

    <div class="modal-wrap">
        <div class="modal-data" id="modal-data">
            <div class="cancelOrder">
                <div class="cancel-top">
                    <span>是否取消订单?</span>
                </div>
                <div class="cancel-middle">
                    <div>
                        <span>陪护时间</span>
                        <span>2015年09月08日上午</span>
                    </div>
                    <div>
                        <span>选择地点</span>
                        <span>北京市海淀区清河中街翠微大厦939室</span>
                    </div>
                    <div>
                        <span>服务时长</span>
                        <span>1天</span>
                    </div>
                    <div>
                        <span>手机号码</span>
                        <span>13521558558</span>
                    </div>
                </div>
                <div class="cancel-bottom">
                    <button>取消订单</button>
                </div>
            </div>
        </div>


    </div>
    <!-- 模态框 结束 -->




</div>

</body>
</html>