<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|补充提问列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/pinkMain.css"/>
    <link rel="stylesheet" href="../public/css/addQuestionList.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap">
    <!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="doctorList.html">&lt;返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>向 王泽林 提问</span>
            </div>
            <div class="headBox-right">
            </div>
        </div>
    </header>

    <!--头部模块 结束-->
    <!-- sec1 模块开始-->
    <div class="section1">
        <div class="section1-wrap">
            <p>中药洗剂能不能治疗牛皮癣？</p>
            <p>
                <span>校园里的白杨树</span>
                <span>1小时前</span>
            </p>
        </div>
    </div>
    <div class="section1">
        <div class="section1-wrap">
            <p>患有湿疹有半年了，吃过药，打过针，化验过？</p>
            <p>
                <span>Lucy露露</span>
                <span>18分钟前</span>
            </p>
        </div>
    </div>
    <div class="section1">
        <div class="section1-wrap">
            <p>如果胎记激光消不掉还有其他方法吗？</p>
            <p>
                <span>校园里的白杨树</span>
                <span>1小时前</span>
            </p>
        </div>
    </div>
    <div class="section1">
        <div class="section1-wrap">
            <p>中药洗剂能不能治疗牛皮癣？</p>
            <p>
                <span>校园里的白杨树</span>
                <span>1小时前</span>
            </p>
        </div>
    </div>
    <!-- sec1 模块结束-->




</div>

</body>
</html>