<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|补充咨询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/pinkMain.css"/>
    <link rel="stylesheet" href="../public/css/addQuestionList.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap">
    <!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="doctorList.html">&lt;返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>向 王泽林 提问</span>
            </div>
            <div class="headBox-right">
            </div>
        </div>
    </header>

    <!--头部模块 结束-->
    <!-- sec2 模块开始-->
    <div class="section2">
        <div class="section2-wrap">
            <p>我的手上有红肿现象是怎么回事呢? 那天我的狗狗好像咬了我一下。</p>
            <p><i class="section2-icon pinkIcon"></i></p>
            <p>2015-07-15 15:32</p>
        </div>
    </div>
    <!-- sec2 模块结束-->
    <!-- sec3 模块开始-->
    <div class="section3">
        <div class="section3-wrap">
            <div class="section3-wrap-title"><span>回答(1)</span></div>
            <div class="section3-wrap-middle">
                <div class="sec3-left">
                    <i class="section2-icon2 pinkIcon"></i>
                </div>
                <div class="sec3-right">
                    <div class="sec3-right-top">
                        <span>王泽林</span>
                        <span>副主任医师</span>
                    </div>
                    <div class="sec3-right-middle">
                        <span>
                            过敏不是小问题，小心治疗。导致失眠的原因主要有环境原因.个体因素.躯体原因.精神因素.情绪因素等.改善失眠症状.避免失眠应少喝妨碍睡眠的咖啡和茶.避免情绪刺激.可以口服谷维素片.维生素B1片.安神补脑液.枣仁安神胶囊进行调理,入睡困难建议口服地西泮片或佐匹克隆.
                        </span>
                    </div>
                    <div class="sec3-right-bottom">
                        <span>12分钟以前</span>
                    </div>
                </div>
            </div>
            <div class="sec3-bottom">
                <div class="sec3-bottom-left">
                    <div>校园里的白杨树</div>
                    <div>那我该怎么预防呢？</div>
                    <div>6分钟以前</div>
                </div>
                <div class="sec3-bottom-right">
                    <i class="section3-icon3 pinkIcon"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- sec3 模块结束-->
    <!-- sec4 模块开始-->
    <div class="section4">
        <div class="section4-wrap">
            <div class="sec4-left">
                <i class="section4-icon4 pinkIcon"></i>
            </div>
            <div class="sec4-middle">
                <input type="text"/>
            </div>
            <div class="sec4-right">
                <button>追问</button>
            </div>

        </div>
    </div>
    <!-- sec4 模块结束-->


</div>

</body>
</html>