<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|医生详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/pinkMain.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap">
    <!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="doctorList.html">&lt;返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>向 王家璧 提问</span>
            </div>
            <div class="headBox-right">
            </div>
        </div>
    </header>

    <!--头部模块 结束-->
    <!-- sec1 模块开始-->
    <div class="sec1">
        <div class="sec1-wrap">
            <span>标题：</span>
            <input type="text" placeholder="请用一句话描述您的症状"/>
        </div>
    </div>
    <!-- sec1 模块结束-->
    <!-- sec2 模块开始-->
    <div class="sec2">
        <div class="sec2-wrap">
            <span>内容：</span>
            <textarea placeholder="请详细描述主要病症、发病时间过往病史等。"></textarea>
        </div>
    </div>
    <!-- sec2 模块结束-->
    <!-- sec3 模块开始-->
    <div class="sec3">
        <div class="sec3-wrap">
           <i class="doctorIcon1 pinkIcon"></i>
           <i class="doctorIcon2 pinkIcon"></i>
            <input type="file" />
        </div>
    </div>
    <!-- sec3 模块结束-->
    <!-- sec4 模块开始-->
    <div class="sec4">
        <div class="sec4-wrap">
           <p>
               <span>性别：</span>
               <input type="radio" checked="checked" name="sex" id="boy">
               <label  class="checked">男</label>
               <input type="radio" name="sex" id="girl">
               <label >女</label>
           </p>
            <p>
                <span>年龄：</span>
                <input type="text"/>
            </p>
        </div>
    </div>
    <!-- sec4 模块结束-->
    <!-- sec5 模块开始-->
    <div class="sec5">
        <div class="sec5-wrap">
            <button>马上提交</button>
        </div>
    </div>
    <!-- sec5 模块结束-->



</div>
<script>
    $(function() {
        $('label').click(function(){
            var radioId = $(this).attr('name');
            $('label').removeAttr('class') && $(this).attr('class', 'checked');
            $('input[type="radio"]').removeAttr('checked') && $('#' + radioId).attr('checked', 'checked');
        });
    });
</script>
</body>
</html>