<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护|提交成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/pinkMain.css"/>
    <link rel="stylesheet" href="../public/css/orderItem.css"/>
    <script src="../public/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="wrap">
    <!--头部模块 开始-->
    <header>
        <div class="headerWrap">
            <div class="headBox-left">
                <span><a href="doctorList.html">&lt;返回</a></span>
            </div>
            <div class="headBox-middle">
                <span>提交成功</span>
            </div>
            <div class="headBox-right">
                <i class="aboutItem-icon1 pinkIcon"></i>
            </div>
        </div>
    </header>

    <!--头部模块 结束-->
    <!-- sec1 模块开始-->
    <div class="section1">
        <div class="section1-wrap">
            <div class="sec1-top">
                <i class="aboutItem-icon2 pinkIcon"></i>
                <span>您已经预约成功！</span>
            </div>
            <div class="sec1-middle">
                <p>请保持手机 13521553553 畅通</p>
                <p>方便医护人员联系到您</p>
            </div>
            <div class="sec1-bottom">
                <button>查看订单</button>
            </div>
        </div>
    </div>
    <!-- sec1 模块结束-->




</div>

</body>
</html>