<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医小护用户信息管理</title>
    <link rel="stylesheet" href="../public/css/initialize.css"/>
    <link rel="stylesheet" href="../public/css/main.css"/>
</head>
<body>
<div class="wrap">
    <div class="top">
        <div class="top_left">
            <a href="main.html">
                <i class="icons icon1"></i>
                <span class="icon1_word">医小护 · 后台管理系统 1.0</span>
            </a>
        </div>
        <div class="top_right">
            <i class="icons icon2"></i>
            <span class="icon2_word">admin管理员</span>
            <a href="#" class="icon2_word">退出</a>
        </div>
    </div>
    <div class="content clearFix">
        <div class="left">
            <div class="left-top">
                <i class="icons icon3"></i>
                <span class="icon3_word">系统快捷管理</span>
            </div>
            <div class="left-bottom">
                <!-- 树形菜单开始 -->
                <div class="pnav-wrap">
                    <div class="pnav-box" id="little-a">
                        <div class="box-title">
                            <a href="#" class="btn-fold"></a>
                            <a href="#" class="btn-unfold hidden"></a>
                            <span class="pnav-letter">医生/护士管理</span>
                        </div>
                        <ul class="box-list">
                            <li>
                                <i class="ztree_icons ztree_icon1"></i>
                                <a href="doctor_list.html">医生列表</a>
                            </li>
                            <li>
                                <i class="ztree_icons ztree_icon1"></i>
                                <a href="#">护士列表</a>

                            </li>
                            <li>
                                <i class="ztree_icons ztree_icon1"></i>
                                <a href="addDoctor.html">添加医生/护士</a>

                            </li>
                        </ul>
                    </div>
                    <div class="pnav-box" id="little-b">
                        <div class="box-title">
                            <a href="#" class="btn-fold hidden"></a>
                            <a href="#" class="btn-unfold"></a>
                            <span class="pnav-letter">服务管理</span>
                        </div>
                        <ul class="box-list">
                            <li>
                                <i class="ztree_icons ztree_icon1"></i>
                                <a href="addService.html">添加服务</a>
                            </li>
                            <li>
                                <i class="ztree_icons ztree_icon1"></i>
                                <a href="service_lists.html">服务列表</a>
                            </li>
                        </ul>
                    </div>
                </div>



                <!-- 树形菜单结束 -->
            </div>
        </div>
        <div class="right">
            <div class="right-top">
                <div class="right_title">
                    <span>管理首页</span>
                </div>
                <ul class="right_nav">
                    <li><a href="doctor_list.html">医生管理</a></li>
                    <li><a href="">护士管理</a></li>
                    <li><a href="doctor_list.html">服务管理</a></li>
                </ul>
            </div>
            <div class="right-content">
                    欢迎使用医小护
                    请选择左侧的功能页
            </div>
        </div>
    </div>
</div>

<script src="../public/js/jquery-1.7.2.js"></script>
<script src="../public/js/mainTree.js"></script>
</body>
</html>